.secrion11 {
    background-color: #f4f4f4;
    padding: 60px 20px;
}

.secrion11 .box {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    align-items: stretch;
}

.secrion11 .box .left {
    background-color: #1793a3;
    background-image: url(/images/background2.png);
    color: #ffffff;
    padding: 50px 40px;
    border-radius: 8px;
    width: 490px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.secrion11 .box .left img {
    width: 32px;
    margin-bottom: 35px;
}

.secrion11 .box .left h6 {
    margin-bottom: 20px;
}

.secrion11 .box .left .text {
    color: rgba(255, 255, 255, 0.85);
}

.secrion11 .box .right {
    background-color: #ffffff;
    padding: 50px 40px;
    border-radius: 8px;
    width: 490px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.secrion11 .box .right h6 {
    margin-bottom: 15px;
    color: #333333;
}

.right .text {

    margin-bottom: 40px;
}

.secrion11 .box .right img {
    max-width: 100%;
    height: auto;
    display: block;
}
