.section13 {
    background-color: #2193a6;
    color: #ffffff;
    padding: 60px 40px;
    display: flex;
    justify-content: center;
}

.section13 .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 30px;
}




.section13 .box.item1 {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.section13 .box .item1 img {
    margin-top: 30px;
    padding-top: 20px;
    display: flex;
}



.section13 .box .item4 p {
    margin-top: 20px;
}