
#main-slider {
    --all-slides: 5;
    --slides-to-show: 5;
    --gap: 10px;
    --content-width: 1000px;
    --slide-width: calc((var(--content-width) - (var(--gap) * (var(--slides-to-show) - 1))) / var(--slides-to-show));
}

main:has(#main-slider) {
    display: grid;
    place-items: center;
}

#main-slider img {
    /* width: 54px; */
    max-height: 100%;
}

#main-slider .slider {
    display: flex;
    gap: var(--gap);
    animation-name: logo-slider;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes logo-slider {
    100% {
        transform: translateX(calc((var(--content-width) + var(--gap)) * -1));
    }
}

.slide {
    min-width: var(--slide-width);
    /* padding: 20px; */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.slider-wrapper {
    max-width: var(--content-width);
    overflow: hidden;
}

.slider:hover {
    animation-play-state: paused;
}       

@keyframes logo-slider2 {
    100% {
        transform: translateX(calc(var(--slide-width) * (var(--all-slides) / -2) - ((var(--all-slides) / 2) * var(--gap))));
    }
}

#main-slider2 {
    --all-slides: 10;
    --slides-to-show: 3;
    --gap: 10px;
    --content-width: 1200px;
    --slide-width: calc((var(--content-width) - (var(--gap) * (var(--slides-to-show) - 1))) / var(--slides-to-show));
}


@media (max-width:1200px) {
    #main-slider2 {
        --content-width: 100% !important;
    }
}

@media (max-width:700px) {
    #main-slider2 {
        --slides-to-show: 2;
    }
}



#main-slider2 .slide img {
    width: 100%;
}

#main-slider2 .slider {
    display: flex;
    gap: var(--gap);
    animation-name: logo-slider2;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}


#main-slider2 .slider:hover {
    animation-play-state: paused;
}



#main-slider2 .slide {
    min-width: var(--slide-width) !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 260px;
}

#main-slider2 .slide img {
    display: flex;
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

#main-slider2 .slider-wrapper {
    max-width: var(--content-width);
    overflow: hidden;
    margin: 0 auto;
}


@keyframes logo-slider3 {
    100% {
        transform: translateX(calc(var(--slide-width) * (var(--all-slides) / -2) - ((var(--all-slides) / 2) * var(--gap))));
    }
}

#main-slider3 {
    --all-slides: 10;
    --slides-to-show: 5;
    --gap: 10px;
    --content-width: 100%;
    --slide-width: calc((var(--content-width) - (var(--gap) * (var(--slides-to-show) - 1))) / var(--slides-to-show));
}


@media (max-width:1200px) {
    #main-slider3 {
        --content-width: 100% !important;
    }
}

@media (max-width:700px) {
    #main-slider3 {
        --slides-to-show: 2;
    }
}



#main-slider3 .slide img {
    width: 100%;
    height: 50%;
}

#main-slider3 .slider3 {
    display: flex;
    gap: var(--gap);
    animation-name: logo-slider3;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}


#main-slider3 .slider3:hover {
    animation-play-state: paused;
}



#main-slider3 .slide {
    min-width: var(--slide-width) !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 76px;
}

#main-slider3 .slide img {
    display: flex;
    object-fit: cover;
    background-position: center;
    width: 54px;
    height: 54px;
}

#main-slider3 .slider-wrapper3 {
    max-width: var(--content-width);
    overflow: hidden;
    margin: 0 auto;
}




@keyframes logo-slider4 {
    100% {
        transform: translateX(0);
    }
}

#main-slider4 {
    --all-slides: 10;
    --slides-to-show: 5;
    --gap: 10px;
    --content-width: 100%;
    --slide-width: calc((var(--content-width) - (var(--gap) * (var(--slides-to-show) - 1))) / var(--slides-to-show));
}


@media (max-width:1200px) {
    #main-slider4 {
        --content-width: 100% !important;
    }
}

@media (max-width:700px) {
    #main-slider4 {
        --slides-to-show: 2;
    }
}



#main-slider4 .slide img {
    width: 100%;
    height: 50%;
}

#main-slider4 .slider4 {
    display: flex;
    gap: var(--gap);
    animation-name: logo-slider4;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    transform: translateX(calc(var(--slide-width) * (var(--all-slides) / -2) - ((var(--all-slides) / 2) * var(--gap))));

}


#main-slider4 .slider4:hover {
    animation-play-state: paused;
}



#main-slider4 .slide {
    min-width: var(--slide-width) !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 76px;
}

#main-slider4 .slide img {
    display: flex;
    object-fit: cover;
    background-position: center;
    width: 54px;
    height: 54px;
}

#main-slider4 .slider-wrapper4 {
    max-width: var(--content-width);
    overflow: hidden;
    margin: 0 auto;
}



main {
  /* height: 1200px; */
  background-color: rgb(241, 240, 240);
  padding: 60px 20px;
}
main .box::before {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(to bottom, rgb(241, 240, 240), transparent);
}
main .box::after {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(to top, rgb(241, 240, 240), transparent);
}

main .box {
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  display: flex;
  height: 800px;
  position: relative;
}
.review {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.review .header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.review img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation-name: review_slide_top;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
}
.col {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: start;
}

@keyframes review_slide_top {
  100% {
    transform: translateY(calc(-50% - 10px));
  }
}
@keyframes  review_slide_bottom{
    100%{
        transform: translateY(calc(50% + 10px));
    }
}
.col1 .wrapper {
  animation-duration: 20s;
}
.col2 .wrapper {
  animation-duration: 25s;
  animation-name: review_slide_bottom;
}
.col3 .wrapper {
  animation-duration: 30s;
}

.col2 {
  align-items: end;
} 

    #main-slider {
        --all-slides: 5;
        --slides-to-show: 5;
        --gap: 10px;
        --content-width: 1000px;
        --slide-width: calc((var(--content-width) - (var(--gap) * (var(--slides-to-show) - 1))) / var(--slides-to-show));
    }

    main:has(#main-slider) {
        display: grid;
        place-items: center;
    }

    #main-slider img {
        /* width: 54px; */
        max-height: 100%;
    }

    #main-slider .slider {
        display: flex;
        gap: var(--gap);
        animation-name: logo-slider;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes logo-slider {
        100% {
            transform: translateX(calc((var(--content-width) + var(--gap)) * -1));
        }
    }

    .slide {
        min-width: var(--slide-width);
        /* padding: 20px; */
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .slider-wrapper {
        max-width: var(--content-width);
        overflow: hidden;
    }

    .slider:hover {
        animation-play-state: paused;
    }
    
